[submodule "deps/glfw"]
	path = shared/submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/glm"]
	path = shared/submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/stb"]
	path = shared/submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "shared/submodules/glew"]
	path = shared/submodules/glew
	url = https://github.com/Perlmint/glew-cmake
